.navbar-size {
width: 95%;
margin: 0 auto;
}
nav .brand-logo {
position: relative;
display: flex;
align-items: center;
height: 100%;
}
nav .brand-logo img {
display: block;
height: 50px;
}
.main-body {
background-color: #F28487;
color: white;
height: calc(100vh - 64px);
}
.materialboxed-image {
margin: 0 auto;
height: 400px;
}
.click-me-button {
background-color: #EE6E73;
margin-top: 50px;
}
.card-reveal {
color: black;
}
.card-reveal .card-title,
.card-reveal p {
color: black;
}